<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fcsit.leazy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- splash screen -->
        <activity
            android:name="com.fcsit.leazy.SplashscreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fcsit.leazy.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sign Up -->
        <activity
            android:name="com.fcsit.leazy.SignUpActivity"
            android:parentActivityName="com.fcsit.leazy.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fcsit.leazy.MainActivity" />
        </activity>

        <!-- Selection Activity -->
        <activity
            android:name="com.fcsit.leazy.SelectionActivity"
            android:parentActivityName="com.fcsit.leazy.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fcsit.leazy.MainActivity" />
        </activity>

        <!-- Eat Activity -->
        <activity
            android:name="com.fcsit.leazy.EatActivity"
            android:parentActivityName="com.fcsit.leazy.SelectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fcsit.leazy.SelectionActivity" />
        </activity>

        <!-- Work Activity -->
        <activity
            android:name="com.fcsit.leazy.WorkActivity"
            android:parentActivityName="com.fcsit.leazy.SelectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fcsit.leazy.SelectionActivity" />
        </activity>

        <!-- Heart Activity -->
        <activity
            android:name="com.fcsit.leazy.HeartActivity"
            android:parentActivityName="com.fcsit.leazy.SelectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fcsit.leazy.SelectionActivity" />
        </activity>

        <!-- Pedo Activity -->
        <activity
            android:name="com.fcsit.leazy.PedoActivity"
            android:parentActivityName="com.fcsit.leazy.SelectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fcsit.leazy.SelectionActivity" />
        </activity>

        <!-- Result Activity -->
        <activity
            android:name="com.fcsit.leazy.ResultActivity"
            android:parentActivityName="com.fcsit.leazy.SelectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fcsit.leazy.SelectionActivity" />
        </activity>

        <!-- HeartRateMonitor Activity -->
        <activity
            android:name="com.fcsit.leazy.heartmonitor.HeartRateMonitor"
            android:parentActivityName="com.fcsit.leazy.SelectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fcsit.leazy.SelectionActivity" />
        </activity>

        <service android:name="com.fcsit.leazy.pedometer.StepService" />
    </application>

    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyB_xSns7wOd_drf_mDzE8VadSUlGf6poLE" />

</manifest>